.Card {
  width: 240px;
  height: 336px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--color),
    var(--color) 2px,
    white 2px,
    white 4px
  );
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;

}


.spellName {
  font-size: 16px;
  padding: 0 5px;
  text-align: left;
  background: var(--color);
  font-family: var(--header-font);
}

.spellType {
  font-size: 10px;
  font-family: var(--header-font);
  background-color: var(--color);
  padding: 2px 6px;
  text-align: right;
}

.meta {
  display: flex;
  flex-wrap: wrap;
}
.metaBox {
  margin: 5px 5px 0;
  background-color: white;
  flex-basis: 40%;
  flex-grow: 1;
  padding: 2px 4px;
}

.metaLabel {
  font-size: 10px;
  font-weight: bold;
}
.metaInfo {
  font-size: 10px;
}

.details {
  padding: 3px 8px;
  text-align: justify;
  font-size: var(--text-size);
  flex-grow: 1;
  background: white;
  margin: 5px;
  line-height: 1.25;

  display: flex;
  flex-direction: column;
}

.atHigherLabel {
  font-weight: bold;
}
.desc {
  flex-grow: 1;
}