@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-alegreya);
    --font-mono: var(--font-sono);
    --text-size: 9px;
  }

  body, html {
    min-height: 100vh;
  }
  body, #__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

/* font-family: 'Lora', serif;
font-family: 'Marhey', cursive;
font-family: 'Overpass', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sono', sans-serif; */

body[data-theme='basic'] {
  --header-font: var(--font-overpass);
  --body-font:  var(--font-overpass);
  --header-transform: none;
}

body[data-theme='fancy'] {
  --header-font: var(--font-fancy);
  --body-font: var(--font-alegreya);
  --header-transform: none;
}

body[data-theme='modern'] {
  --header-font: var(--font-overpass);
  --body-font: var(--font-overpass);
}

body[data-theme='fantasy'] {
  --header-font: var(--font-cormorant);
  --body-font: var(--font-cormorant);
}
body[data-theme='bgs'] {
  --body-font: var(--font-roboto-condensed);
  --header-font:  var(--font-bungee);
}


.Card:nth-child(9) {
  page-break-after: always;
}

.pagebreak {
  margin-bottom: 1em;
  page-break-after: always;
}